:root {
  --main-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --background-color: #07780b2d;
  --primary-color: black;
  --secondary-color:   #07780b;
}

.intro {
  background-color: var(--background-color);
}

.homepage-body p {
  font-family: var(--secondary-font);
  font-weight: bold;

  font-size: 36px;
}

h1 {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 96px;
  text-align: center;
}

.job-title h2
 {
  font-family: var(--secondary-font);
  font-weight: regular;
  font-size: 24px;
  color: var(--primary-color);
  padding: 20px;
}
.content-body h2 {
  font-size: 30px;
}
.content-body h1 {
  font-size: 64px;
  text-align: left;
}
h2 {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 30px;
  color: 272142;
  padding: 20px;
}

.homepage-body {
  background-color: var(--background-color);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px;
}

p {
  font-family: var(--secondary-font);
  font-weight: regular;
  line-height: 2;
  font-size: 18px;
}

.portrait {
  border-radius: 10px;
}

.inquiry-body {
  background-color: var(--background-color);
  margin-top: 100px;
}

.project-name {
  font: var(--secondary-font);
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.title-subheading {
  font: var(--secondary-font);
  font-weight: regular;
  font-size: 14px;
  text-align: center;
}
.app-images {
  border-radius: 20px;
  margin-top: 30px;
}
.btn-design {
  border-radius: 4px;
  color: white;
  background: var(--primary-color);
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
  font: var(--secondary-font);
  padding: 18px 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-design-2 {
  border-radius: 4px;
  color: var(--primary-color);
  background: white;
  margin-top: 20px;
  padding: 18px 30px;
  border-color: var(--primary-color);
}

.inquiry-btn-design {
  border-radius: 4px;
  color: white;
  background: var(--primary-color);
  margin-top: 40px;
  padding: 18px 30px;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 20px;
}
nav {
  padding: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  font: var(--secondary-font);
  font-size: 16px;
  font-weight: medium;
  line-height: 40px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  transition: all 500ms ease-in-out;
}

.social-link-title,
.social-link-product {
  font-weight: bold;
  font-size: 20px;
  font: var(--secondary-font);
  color: var(--secondary-color);
  list-style: none;
}

.icons {
  padding-right: 20px;
}

.email-link,
.contactpage-links {
  font-size: 40px;
  text-decoration: none;
  color: var(--primary-color);
  list-style: none;
  margin-bottom: 10px;
  font: var(--secondary-font);
}
.email-link:hover,
.contactpage-links li:hover,
a:hover {
  color: var(--secondary-color);
  transition: all 300ms ease-in-out;
}

.social-links a {
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 20px 25px;
  border-radius: 50%;
}
.social-links a:hover {
  color: var(--secondary-color);
  transition: all 300ms ease-in-out;
}

@media (max-width: 576px) {
  p {
    text-align: center;
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }
  .job-title {
    font-size: 19px;
  }
  .homepage-body p {
    font-size: 15px;
  }

  .content-body h1 {
    text-align: center;
  }

  .btn-design-2 {
    display: block;
    padding: 0 50px;
  }
  .btn-design {
    display: block;
    padding: 0 50px;
    text-align: center;
  }

  .homepage-body {
    padding: 20px;
  }

  .portrait {
    border-radius: 50px;
    padding: 20px;
  }
  .logo {
    max-height: 50px;
    max-width: 50px;
  }
}
