:root {
  --main-font: "Playfair Display", serif;
  --secondary-font:"Poppins", sans-serif;
}

h1{
  
  font-family: var(--main-font);
font-weight: bold;
font-size: 96px;
}

.homepage-body p{
  font-family: var(--secondary-font);
  font-weight: bold;
  
  font-size: 36px;
}

.job-title h2{
  font-family: var(--secondary-font);
  font-weight: regular;
  font-size: 24px;
  color: 272142;
  padding: 20px;
}
h2{
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 64px;
  color: 272142;
  padding: 20px;
}

.homepage-body {
  background: F9F7FE;
  text-align: center;
  padding: 200px;
}

.btn-design {
  border-radius: 4px;
  color: white;
  background:#6C63FF;
  margin-top: 20px;
}

.btn-design-2 {
  border-radius: 4px;
  color:#6C63FF;
  background: white;
  margin-top: 20px;
  
  border-color:  #6C63FF;
}
p{
  font-family: var(--secondary-font);
  font-weight: regular;
  line-height: 2;
  font-size: 18px;
}

@media (max-width:576px){
  p {
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }

h2 {
  font-size: 30px;
  text-align: center;
}
.job-title h2{
  font-size: 16px;
  color: red;
}
  .homepage-body p{
  font-size: 15px;
}

.btn-design-2 {
  display: block;
  padding: 0 50px;
}
.btn-design {
  display: block;
  padding: 0 20px ;
}

.homepage-body {
  padding: 20px
}
}